.*
/node_modules
node_modules/
/test
test/
/dist
dist/
/doc
/web
doc/
web/
npm/
public/
play/
src/
/public
package-lock.json
webpack.config.js.cc
babel.config.js
vue.config.js
.eslintignore
.eslintrc
syncSrc.sh
README.md
tsconfig.json
yarn.lock
yarn-error.log
